*{
  margin: 0;
  padding: 0;
}
body{
  background-image: url("./DS-visualizer-ppt.gif");
  background-size: cover;
  /* width: 100%; */
}
.container{
  display: flex;
  flex-direction: row;
  background-color: rgb(185, 184, 184);
}
.sidebar{
  color: white;
  border-radius: 10px;
  margin: 5px;
  background-color: black;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  flex: 1;
}
h1{
  padding: 10px;
}
.button{
  margin: 3px 3px;
  width: 100%;
  background-color: orange;
  border-radius: 5px;
  border: none;
  padding: 2px;
  color: black;
}

input[type="text"]{

  background-color : white; 

}
