*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: row;
    background-color: rgb(185, 184, 184);
}

.sidebar{
    border-radius: 10px;
    margin: 5px;
    background-color: black;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    flex: 1;
}

.menu{
    display: flex;
    flex-direction: column;
    flex: 4;
}

.input{
    padding: 2px;
    margin: 3px 3px;
    border-radius: 5px;
}

.button{
    margin: 3px 3px;
    background-color: orange;
    border-radius: 5px;
    border: none;
    padding: 2px;
    color: black;
}

.data-structure-name{
    font-weight: 600;
    text-align: center;
    padding: 3px;
    color: white;
}

#mycanvas{
    margin-right: 10px;
    margin-top: 10px;
}