*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("./DS-visualizer-ppt.gif");
    background-size: cover;
}
body{
    /* display: flex;
    flex-direction: row; */
    background-color: rgb(185, 184, 184);
}
h1{
    padding-top: 10px;
}
section{
    display: flex;
    flex-direction: row;
    background-color: rgb(185, 184, 184);
}
.accordion {
    background-color: orange;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    background-color: #000000;
    color: orange;
  }

.sidebar{
    border-radius: 10px;
    margin: 5px;
    background-color: black;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    flex: 1;
}

.menu{
    display: flex;
    flex-direction: column;
    flex: 4;
    display: none;
    overflow: hidden;
    padding: 0 18px;
}

.input{
    padding: 2px;
    margin: 3px 3px;
    border-radius: 5px;
}

.button{
    margin: 3px 3px;
    background-color: orange;
    border-radius: 5px;
    border: none;
    padding: 2px;
    color: black;
}

.data-structure-name, span{
    font-weight: 600;
    text-align: center;
    padding: 3px;
    color: white;
}

#mycanvas{
    margin-right: 10px;
    margin-top: 10px;
}

